archive.deleon.app {
	reverse_proxy paperless-webserver-1:8000
}

homebox.deleon.app {
	reverse_proxy homebox:7745
}

arcane.deleon.app {
	reverse_proxy arcane:3552
}

dbackup.deleon.app {
	reverse_proxy dbackup-dbackup-1:3000
}
# Catch-all: Drop direct IP access and unhandled hostnames
:80, :443 {
	abort
}
